<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
  <div>
    <h1>Admin View:</h1>
    <table>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
      </tr>
      {% for user in user_db %}
      <tr>
        <td>{{ user["id"] }}</td>
        <td>{{ user["first_name"] }}</td>
        <td>{{ user["last_name"] }}</td>
        <td>{{ user["email"] }}</td>
        <td>{{ user["password"] }}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
</body>
</html>